@import "tailwindcss";

:root {
  --background: #2a4a3d;
  --foreground: #35654d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a4a3d;
    --foreground: #35654d;
  }
}

@layer components {
  .tableBG{
      background-image: url('../public/table.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
